<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="./logs"/>

    <!--Appenders  중요! -->
    <!-- 콘솔에 출력 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 여러 개의 파일을 순회하면서 로그를 저장 -->

<!--    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        <file>${LOG_PATH}/info.log</file>-->
<!--        <append>true</append>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_PATH}/info_${type}.%d{yyyy-MM-dd}.gz</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- TRACE > DEBUG > INFO > ERROR > OFF -->
    <!-- Root Logger 중요! -->
    <root lever="INFO">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="INFO_LOG"/>-->
    </root>
    <!-- 다른 루트 사용법 -->

<!--    <logger name="com.springboot.api.controller" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="console"/>-->
<!--        <appender-ref ref="INFO_LOG"/>-->
<!--    </logger>-->

</configuration>